@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

/* .dark {
	@apply bg-white dark:bg-primary dark:text-white;
} */

body {
	@apply bg-white dark:bg-primary dark:text-text duration-100;
}

.nav-link:active {
	animation: glow 0.5s ease-in-out;
	transition: animation 0.5s ease-in-out;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 0px white;
	}
	50% {
		text-shadow: 0 0 20px red;
	}
	100% {
		text-shadow: 0 0 0px #fff;
	}
}
